<h1 align="center">Лабораторная работа №9</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Работа с подсистемой безопасности</h3>
			<p><b>Цель:</b> Ознакомиться с политикой паролей, их характеристикой, а так же политикой блокировки учетных записей. Получить практические навыки по назначению параметров паролей и учетных записей.</p>
			<h3>Теоретическая часть</h3>
			<p>Пароли являются важным элементом информационной безопасности. Они обеспечивают защиту учетных записей пользователей. Неправильно выбранный пароль может стать причиной неавторизованного доступа к конфиденциальной информации или нарушения работоспособности информационных систем компании. Все пользователи (сотрудники компании, дилеры, поставщики, подрядчики или посетители), имеющие доступ к информационным системам компании, ответственны за принятие соответствующих (как описано ниже) мер по созданию и защите пароля. </p>
			<p>Целью политики является введение стандартов по созданию стойких паролей, их защите и срокам действия. </p>
			<p>Пароли используются для многочисленных целей. Наиболее распространенные из них: вход на компьютер, электронная почта, заставка экрана, локальный маршрутизатор и т.д. Поскольку пароли используются многократно (за редким исключением систем с одноразовыми паролями) пользователи должны знать требования по созданию стойких паролей.</p>
			<ul>Характеристики слабого пароля:
				<li>содержит менее 8 символов;</li>
				<li>слово из словаря;</li>
				<li>повседневно используемое слово, например, имена или фамилии друзей, коллег, актеров или сказочных персонажей, клички животных;</li>
				<li>компьютерный термин, команда, наименование компаний, web сайтов, аппаратного или программного обеспечения;</li>
				<li>вариации наименования компании или торговой марки;</li>
				<li>день рождения или другая персональная информация, например, адрес, номер телефона и т.п.</li>
				<li>регулярные последовательности символов и цифр, например, 111222, abcde, qwerty и т.п.</li>
				<li>что-либо из вышеперечисленного в обратном написании;</li>
				<li>что-либо из вышеперечисленного с добавлением цифр в начале или конце.</li>
			</ul>
			<ul>Характеристики стойкого пароля:
				<li>содержит прописные и строчные буквы;</li>
				<li>содержит цифры и символы;</li>
				<li>более 8 символов длиной;</li>
				<li>не является словом ни на одном из языков, диалектов, жаргонов, слэнгов;</li>
				<li>не основывается на персональной информации;</li>
				<li>не записан в бумажной или электронной форме.</li>
			</ul>
			<p><b>Политика блокировки учетных записей</b></p>
			<p>Используется для учетных записей доменов или локальных компьютеров. Определяет условия и период времени блокировки учетной записи. </p>
			<h3>Ход работы</h3>
			<p>1. Заходим Пуск -> Панель управления -> Администрирование ->Локальная политика безопасности -> Политика учетных записей</p>
			<center><%= image_tag("lab12-1.jpg") %></center>
			<p>2. Здесь мы рассмотрим 2 вкладки:</p>
			<p>2.1 Политика паролей</p>
			<center><%= image_tag("lab12-2.jpg") %></center>
			<li>Максимальный срок действия пароля – максимальный срок, при котором пароль может существовать. Срок действия пароля можно настроить от 0 до 999 дней</li>
			<li>Минимальная длина пароля – количество символов, меньше которых не может состоять пароль. Можно настроить от 0 до 14 символов</li>
			<li>Минимальный срок действия пароля – минимальный срок, при котором может существовать пароль. Можно настроить от 0 до 998 символов</li>
			<li>Пароль должен отвечать требованиям сложности – пароль должен содержать 3 из 4 алфавитов: латинские заглавные буквы (A – Z); латинские строчные буквы (a – z); цифры (0 – 9); отличные от букв и цифр символы (например, !, $, #, %). Можно включить и отключить</li>
			<li>Требования неповторяемости пароля – при последующей смене пароля пользователем пароль должен не повторяться. Каждый пароль сохраняется в базу данных и при следующей смене сравнивается с базой. В базе может хранится до 24 паролей.</li>
			<li>Хранить пароли всех пользователей, используя обратимое шифрование – обеспечивает поддержку приложений, использующих протоколы, которым для проверки подлинности необходимо знать пароль пользователя. Можно включить или отключить.</li>
			<p>2.2 Политика блокировки ученой записи</p>
			<li>Блокировка учетной записи на … - определяет число минут, в течение которых учетная запись остается заблокированной, прежде чем будет автоматически разблокирована. Этот параметр может принимать значения от 0 до 99 999 минут. Если для длительности блокировки учетной записи установлено значение 0, она останется заблокированной до тех пор, пока не будет явно разблокирована администратором.</li>
			<li>Пороговое значение блокировки - определяет количество неудачных попыток входа в систему, приводящее к блокировке учетной записи пользователя. Количество неудачных попыток входа в систему может составлять от 0 до 999.</li>
			<li>Сброс счетчика блокировки через - определяет, сколько минут должно пройти после неудачной попытки входа в систему, прежде чем счетчик неудачных попыток будет сброшен в 0. Этот параметр может принимать значения от 1 до 99 999 минут.</li>
			<h3>Задания для самостоятельной работы:</h3>
			<p>1. Задать пароль, удовлетворяющий требованию сложности, заданному в политике паролей.</p>
			<p>2. Максимальное значение параметра «Максимальный срок действия пароля»</p>
			<p>3. Минимальное значение параметра «Максимальный срок действия пароля»</p>
			<p>4. Что случится, если «Максимальный срок действия пароля» истёк?</p>
			<p>5. Какой параметр политики паролей нужно изменить, чтобы система требовала у пользователя смену пароля каждый день?</p>
			<p>6. Кто имеет право изменять политику паролей?</p>
			<p>7. Может ли опытный пользователь изменить политику паролей?</p>
			<p>8. Максимальное значение параметра «Минимальная длина пароля».</p>
			<p>9. Можно ли создать пользователя без пароля, если задан параметр «Минимальная длина пароля», равный 1?</p>
			<p>10. Можно ли создать пользователя без пароля, если задан параметр «Минимальная длина пароля», равный 0?</p>
			<p>11. Максимальное значение параметра «Требовать неповторяемости паролей».</p>
			<p>12. Может ли пользователь при смене своего пароля задать пароль, совпадающий с предыдущим его паролем, если параметр «Требовать неповторяемости паролей» равен 0.</p>
			<p>13. Может ли пользователь при смене своего пароля задать пароль, совпадающий с предыдущим его паролем, если параметр «Требовать неповторяемости паролей» равен 1.</p>
			<p>14. Может администратор при смене своего пароля сделать новый пароль точно таким же, как и старый?</p>
		</tr>
	</td>
</table>