<h1 align="center">Лабораторная работа №11</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Мониторинг и оптимизация системы</h3>
			<h3 align="center">12.1. Диспетчер задач, консоль</h3>
			<h3>Теоретическая часть</h3>
			<p>Диспетчер задач - компьютерная программа (утилита) для вывода на экран списка запущенных процессов и потребляемых ими ресурсов. В качестве дополнительных функций, диспетчер задач может предложить возможность завершить один из процессов или присвоить ему другой приоритет. В некоторых операционных системах, эта же самая программа позволяет наблюдать загруженность процессора, оперативной памяти, сетевых подключений и других ресурсов. </p>
			<p>Мониторинг - процесс наблюдения и регистрации данных о каком либо объекте на неразрывно примыкающих друг к другу интервалах времени, в течение которых значения данных существенно не изменяются. Различают Мониторинг параметров и Мониторинг состояния объекта.</p>
			<p>Мониторинг параметров - наблюдение за какими либо параметрами. Результат мониторинга параметров представляет собой совокупность измеренных значений параметров, получаемых на неразрывно примыкающих друг к другу интервалах времени, в течение которых значения параметров существенно не изменяются.</p>
			<p>Мониторинг состояния - наблюдение за состоянием объекта для определения и предсказания момента перехода в предельное состояние. Результат мониторинга состояния объекта представляет собой совокупность диагнозов составляющих его субъектов, получаемых на неразрывно примыкающих друг к другу интервалах времени, в течение которых состояние объекта существенно не изменяется. Принципиальным отличием мониторинга состояния от мониторинга параметров является наличие интерпретатора измеренных параметров в терминах состояния - экспертной системы поддержки принятия решений о состоянии объекта и дальнейшем управлении.</p>
			<p>Мониторинг - процесс систематического или непрерывного сбора информации о параметрах сложного объекта или деятельности для определения тенденций изменения параметров.</p>
			<ul>Мониторинг - систематический сбор и обработка информации, которая может быть использована для улучшения процесса принятия решения, а также, косвенно, для информирования общественности или прямо как инструмент обратной связи в целях осуществления проектов, оценки программ или выработки политики. Он несёт одну или более из трёх организационных функций:
				<li>выявляет состояние критических или находящихся в состоянии изменения явлений окружающей среды, в отношении которых будет выработан курс действий на будущее;</li>
				<li>устанавливает отношения со своим окружением, обеспечивая обратную связь, в отношении предыдущих удач и неудач определенной политики или программ;</li>
				<li>устанавливает соответствия правилам и контрактным обязательствам</li>
			</ul>
			<h3>Ход работы</h3>
			<p>1. Вызовите Диспетчер задач. Для этого можно зажать "Ctrl" + "Alt" + "Delete" , либо щелкнуть по панели задач правой кнопкой, затем выбрать вкладку "Диспетчер задач" </p>
			<p>2. Просмотрите все запущенные приложения. Занесите их названия в отчет (допустим скриншот). </p>
			<p>3. Посмотрите, какие процессы запущены. Занесите несколько названий в отчет (допустим скриншот)</p>
			<p>Заметим, что процессов должно быть больше, чем приложений, так как некоторые приложения делятся на несколько процессов, а так же присутствуют системные процессы. </p>
			<p>4. Для каждого процесса посмотрите в окне следующие счетчики с помощью вкладки «Вид» > Выбор столбцов: </p>
			<li>время ЦП;</li>
			<li>базовый приоритет;</li>
			<li>объем виртуальной памяти;</li>
			<li>счетчик протоколов;</li>
			<p>Приложите скриншот с включенными отображенными счетчиками</p>
			<P>5. Также можно изменить приоритет процесса (ПКМ – Приоритет - …). Изменение приоритета влияет на время его ожидания в очереди на выполнение. Некоторые процессы имеют более высокий приоритет, так как они более важны. В основном это системные процессы.</P>
			<P>6. Посмотрите на вкладке Быстродействие общую картину потребления ресурсов вашего компьютера. Приложите скриншот</P>
			<p>7. Для того, чтобы убрать свернутое окно Диспетчера задач с панели задач, чтобы не занимать место на ней, зайдите в главном меню диспетчера во вкладку "Параметры", далее щелкните вкладку «Скрывать свернутое».</p>
			<p>8. Вызовите оснастку Просмотр событий (ActiveX). </p>
			<p>9. Посмотрите, какие типы основных журналов можно просматривать в этой оснастке. Приложите скриншот или занесите названия типов журналов в отчет</p>
			<p>10. Рассмотрите, какие существуют типы событий. Названия перечислите в отчете (допускается в виде скриншота)</p>
			<p>11. Какие параметры можно увидеть для каждого события (с помощью окна свойств)? Названия перечислить в отчете (допускается в виде скриншота)</p>
			<p>12. Отсортируйте события в окнах журналов: журнал Приложений – по типу событий; журнал Системы – по дате возникновения событий. Приложите скриншот.</p>
			<p>13. В окне журнала событий Системы оставьте только столбцы: Тип, Дата, Время, Категория, Источник. Приложите полученный скриншот или этапы выполнения действия</p>
			<p>14. В журнале Безопасности проведите фильтрацию событий: оставьте только аудит отказов за последние 2 недели. Приложите скриншот</p>
			<p>15. Создайте свой журнал событий, содержащий только сведения об ошибках приложений. В отчет приложите скриншот</p>
			<p>16. Просмотрите окна свойств журналов. Для своего журнала установите максимальный размер журнала 100 кб и флажок: Затирать старые события по необходимости. Какие еще действия возможны при достижении максимального размера журнала?</p>
			<p>17. Сохраните журнал в текстовом виде</p>
			<p>18. Откройте его в программе блокнот.</p>
			<p>19. Создайте инструмент для просмотра событий на другом компьютере. Просмотрите их.</p>

			<h3>Задание для самостоятельной работы</h3>
			<p>Сделайте отчет о проделанной работе со всеми скриншотами. Отчет покажите преподавателю.</p>
			<h3 align="center">12.2. Системный монитор, производительность</h3>
			<h3>Ход работы</h3>
			<p>1. Запустите оснастку Производительность (ActiveX) - системный монитор. При отсутствии названия ориентируйтесь на рисунок ниже (пиктограмму)</p>
			<center><%= image_tag("lab11-1.jpg") %></center>
			<p>2. Просмотрите, какие в системе существуют объекты производительности.</p>
			<p>3. Просмотрите основные счетчики одного из объектов (например, процессора). Как получить разъяснение, что отображает этот счетчик?</p>
			<p>4. Откройте объект процесс. Как можно добавить счетчик для конкретного процесса (Запустите, например, WORD и просмотрите для него некоторые счетчики).</p>
			<p>5. Просмотрите, какие в системе есть потоки (например, потоки того же процесса WORD). Добавьте счетчики Текущий приоритет для потоков WORD, и посмотрите, как они изменяются при переходе в окно программы WORD и обратно. Удалите какой-нибудь счетчик (Кнопка Удалить панели инструментов).</p>
			<p>6. Создайте документ в программе WORD и поместите в него элемент управления System Monitor, в котором отражена степень загрузки центрального процессора.</p>
			<p>7. Ознакомьтесь с настройкой внешнего вида представления информации в окне вывода программы Системный монитор: введите названия графика, подпись по вертикальной оси, проверьте возможность удаления панели инструментов.</p>
			<p>8. Рассмотрите возможность представления информации в окне вывода в виде гистограммы, отчета.</p>
			<p>9. Для диагностики узких мест:</p>
			<li>для процессора проверьте счетчики: Процессор \ %загруженности процессора, Система \ длина очереди к процессору. Запустите несколько приложений, определите, какое из них в большей степени загружает процессор (через счетчики Процесс \ % загрузки процессора);</li>
			<li>для проверки использования памяти введите счетчики Память \Доступно байт (не должен быть меньше 4 Мбайт), Память \ Обмен страниц. Затем запустите несколько приложений и проследите, как в динамике изменяются их рабочие множества (счетчик Процесс \ Рабочее множество);</li>
			<li>для дисковой памяти: добавьте счетчики объекта Физический диск: Обращений чтения с диска / сек, Текущая длина очереди диска, % активности диска. Сравните, какие они для разных компьютеров в вашей сети. Эти счетчики определяют производительность вашей дисковой системы, если они стали с течением времени заметно увеличиваться, то необходимо дополнительно протестировать дисковую подсистему с использованием счетчиков: Физический диск \ Среднее время обращения к диску (должно быть не более 0,3 сек.), Физический диск \ Средний размер одного обмена с диском (хороший показатель должен быть в районе 20 Кбайт).</li>
			<p>10. Встройте экраны с наиболее интересными показаниями счетчиков в отчет по лабораторной работе.</p>
			<p>11. Создайте свой журнал счетчиков. Файл должен быть двоичным, содержать счетчики, определяющие производительность ПК (счетчики, определяющие загруженность процессора отдельными процессами). Файл должен быть ограничен по размеру и собирать данные в течение ближайших 5 минут.</p>
			<h3>Задание для самостоятельной работы: </h3>
			<p>1. Сделайте отчет по проделанной работе, включая ответы на вопросы в ходе работы и все скриншоты. </p>
			<p>2. Отчет покажите преподавателю. </p>
		</tr>
	</td>
</table>
