<h1 align="center">Лабораторная работа №10</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Работа с реестром</h3>
			<h3>Теоретическая часть</h3>
			<p>Реестр Windows (системный реестр) - это иерархическая (древовидная) база данных, содержащая записи, определяющие параметры и настройки операционных систем Microsoft Windows. Реестр в том виде, как он выглядит при просмотре редактором реестра, формируется из данных, источниками которых являются файлы реестра и информация об оборудовании, собираемая в процессе загрузки. </p>
			<p>Образно реестр можно рассматривать как записную книжку Windows. Он очень обширен, и дать однозначное его определение невозможно. Кратко и достаточно точно можно сказать, что реестр - компонент операционной системы компьютера, который в иерархической базе данных хранит важнейшие установки и информацию о приложениях, системных операциях, пользовательской и аппаратной конфигурациях.</p>
			<p>В MS-DOS - прародительнице современных ОС семейства Windows - реестра не было. Важнейшие настройки хранились в двух текстовых файлах - config.sys и autoexec.bat. Каждый из них содержал по10-20 строк текстовой информации. Windows 3.0 хранила все настройки в текстовом файле win.ini. Записей в нем было гораздо больше, чем в файлах настройки MSDOS, - свыше 1000.</p>
			<p>Реестр впервые появился в выпущенной в 1993 году Windows NT. И если в этой ОС и появившейся немногим позже Windows 95 он включал в себя приблизительно 10 000 записей, то в Windows XP и Vista их количество увеличилось в десять раз.</p>
			<p>Реестр полноценно был реализован в ОС Windows 98 в виде двух файлов: <b>[C:\WINDOWS\User.dat]</b> и <b>[C:\WINDOWS\System.dat]</b>. Если на компьютере было несколько пользователей, то система создавала несколько файлов User.dat.</p>
			<p>В ОС WindowsMe был добавлен еще один файл <b>[C:\WINDOWS \ CLASSES.DAT]</b>. </p>
			<p>В Windows NT/2000/XP элементы реестра хранятся в виде атомарной структуры. Реестр подразделяется на составные части, которые разработчики этой операционной системы назвали кустами, или ульями (hives) по аналогии с ячеистой структурой пчелиного улья. Куст представляет собой дискретную совокупность разделов, вложенных разделов и параметров, берущую начало в вершине иерархии реестра. </p>
			<p>Отличие кустов от других групп разделов состоит в том, что они являются постоянными компонентами реестра. Кусты не создаются динамически при загрузке операционной системы и не удаляются при ее остановке. Таким образом, раздел HKEY_LOCAL_MACHINE\Hardware, который строится динамически распознавателем аппаратных средств при запуске Windows NT/2000/XP, кустом не является.</p>
			<ul>Файлы реестра создаются в процессе установки операционной системы и хранятся в папке %SystemRoot%\system32\config (обычно C:\windows\system32\config). Для операционных систем Windows 2000/XP это файлы с именами
				<li>default</li>
				<li>sam</li>
				<li>security</li>
				<li>software</li>
				<li>system</li>
			</ul>
			<center><%= image_tag("lab10-1.jpg") %></center>
			<p>После установки Windows XP на диске в каталоге  C:\Windows\System32\Config\  хранятся файлы system, software, sam, security, default.  Все имена файлов  без расширений.  Копия этих файлов хранится в каталоге C:\Windows\Repair\.</p>
			<p>Реестр содержит три типа объектов: ключи, параметры и значения.</p>
			<p>Ключи - вершина иерархической структуры реестра. Под ключами реестра могут располагаться другие узлы иерархического дерева (подключи). Кроме этого, каждый ключ может содержать один или несколько параметров. Все ключи и параметры в пределах подключа должны иметь уникальные имена.</p>
			<p>Параметры имеются у каждого ключа и подключа. У каждого ключа обязательно есть хотя бы один параметр – «По умолчанию». Если значения параметров не заданы, то они имеют значение Null.</p>
			<p>Параметры состоят из трех частей: тип параметра, имя параметра и его значение. Допустимы следующие типы параметров: двоичные, двойное слово и строковые. Каждому типу параметров соответствует своя пиктограмма в окне редактора реестра.</p>
			<ul>Параметры делятся на шесть типов: 
				<li>REG_SZ (строковые) - например, «1» или «C:\Windows»; </li>
				<li>REG_BINARY (двоичные) - большинство сведений об аппаратных компонентах хранится в виде двоичных данных и выводится в редакторе реестра в шестнадцатеричном формате, например, «01 00 00 00». Максимальная длина такого ключа 16 Кб; </li>
				<li>REG_DWORD (dword) - многие параметры служб и драйверов устройств имеют этот тип, ключ занимает 4 байта и отображается в шестнадцатеричном и в десятичном виде (напр. 0x00000240(576) - в скобках указано десятичное значение ключа);</li>
				<li>REG_EXPAND_SZ - строка данных переменной длины;</li>
				<li>REG_MULTI_SZ - многострочный текст. Этот тип, как правило, имеют списки и другие записи в формате, удобном для чтения. Записи разделяются пробелами, запятыми или другими символами;</li>
				<li>REG_FULL_RESOURCE_DESCRIPTOR - последовательность вложенных массивов, разработанная для хранения списка ресурсов железа или драйверов. </li>
			</ul>

			<h3>Структура реестра</h3>
			<table align="center" border="3" width="99%">
				<tr>
					<td>
						[HKEY_CLASSES_ROOT]
					</td>

					<td>
						<ul>Содержит информацию обо всех пользователях данной рабочей станции. Здесь хранятся данные о каждом пользователе, а также типовые настройки, служащие шаблоном для новых ключей, создаваемых пользователем. Типовые настройки включают различные значения по умолчанию для программ, событий, конфигураций рабочего стола и т.д.</ul>
					</td>
				</tr>
				<tr>
					<td>
						[HKEY_USERS]
					</td>

					<td>
						<ul>Содержит информацию обо всех пользователях данной рабочей станции. Здесь хранятся данные о каждом пользователе, а также типовые настройки, служащие шаблоном для новых ключей, создаваемых пользователем. Типовые настройки включают различные значения по умолчанию для программ, событий, конфигураций рабочего стола и т.д.</ul>
					</td>
				</tr>
				<tr>
					<td>
						[HKEY_CURRENT_USER]
					</td>

					<td>
						<ul>Содержит настройки системы и программ, относящиеся к текущему пользователю. Он создается при регистрации пользователя в системе на основе информации из соответствующего ключа [HKEY_USERS]. Именно здесь хранится информация о том, как данный пользователь сконфигурировал рабочую станцию.</ul>
					</td>
				</tr>
				<tr>
					<td>
						[HKEY_LOCAL_MACHINE]
					</td>

					<td>
						<ul>Содержит спецификации рабочей станции, драйверов и др. системные настроцки, включая информацию о типах установленного оборудования, настройках портов конфигурации программного обеспечения. Эта информация специфична для компьютера, а не для пользователя.</ul>
					</td>
				</tr>
				<tr>
					<td>
						[HKEY_CURRENT_CONFIG]
					</td>

					<td>
						<ul>Содержит информацию о текущей конфигурации аппаратуры компьютера, используется в основном на компьютерах с несколькими аппаратными конфигурациями, например, при подключении портативного ПК к стыковочной станции и отключении от нее. Информация, содержащаяся в этом ключе, копируется из ключа [HKEY_LOCAL_MACHINE].</ul>
					</td>
				</tr>
				<tr>
					<td>
						[HKEY_DYN_DATA]
					</td>

					<td>
						<ul>Содержит динамическую информацию о состоянии различных устройств, причем она создается заново при каждом старте системы. Этот ключ используется как часть системы измерения производительности и для конфигурации устройств Plug-and-Play.</ul>
					</td>
				</tr>
			</table>

			<h3>Утилиты для работы с реестром</h3>
			<ul>Существует множество утилит для работы с реестром. Перечислим некоторые из них:
				<li>Registry Drill - утилита предназначена для работы с системным реестром. С ее помощью можно находить и устранять ошибки, возникающие в процессе работы системы;</li>
				<li>Registry Defragmentation - утилита для дефрагментации системного реестра, с помощью упорядочивания его значений;</li>
				<li>Registry Compactor - помогает выполнить оптимизацию и дефрагментацию системного реестра, а также уменьшает его размер;</li>
				<li>Refresh Windows Registry - утилита для работы с системным реестром; с ее помощью можно оптимизировать системный реестр, удалить неиспользуемые ветви и т.д.;</li>
				<li>Resplendent Registrar  - кроме обычных настроек, программа может сохранять резервные копии реестра и восстанавливать их, осуществлять быстрый поиск и замену в фоновом режиме; </li>
				<li>RegSnap- программа помогает проследить за изменениями в системном реестре;</li>
				<li>Registry Clean Expert - сканирует реестр Windows и находит в нем неправильную или устаревшую информацию.</li>
			</ul>

			<p>Можно перечислить и другие утилиты, такие как, например Reg Organizer, Work With Registry, Registry Mechanic, RegRepair, TweakNow RegCleaner, RegWorks, Regmon, RegVac, RegCleaner и др.</p>

			<h3>Параметры автозагрузки</h3>
			<ul>В реестре автозагрузка представлена в нескольких местах: 
				<li>HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Current Version\Run - программы, которые запускаются при входе в систему. Данный раздел отвечает за запуск программ для всех пользователей системы.</li>
				<li>HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Current Version\RunOnce - программы, которые запускаются только один раз при входе пользователя в систему. После этого ключи программ автоматически удаляются из данного раздела реестра. Данный раздел отвечает за запуск программ для всех пользователей системы.</li>
				<li>HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Current Version\RunOnceEx - программы, которые запускаются только один раз, когда загружается система. Этот раздел используется при инсталляции программ, например для запуска настроечных модулей. После этого ключи программ автоматически удаляются из данного раздела реестра. Данный раздел отвечает за запуск программ для всех пользователей системы.</li>
				<li>HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion \Run - программы, которые запускаются при входе текущего пользователя в систему</li>
				<li>HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion \RunOnce - программы, которые запускаются только один раз при входе текущего пользователя в систему. После этого ключи программ автоматически удаляются из данного раздела реестра.</li>
				<li>HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Current Version\RunServices - программы, которые загружаются при старте системы до входа пользователя в Windows.</li>
				<li>HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Current Version\RunServicesOnce - программы отсюда загружаются только один раз, когда загружается система.</li>
			</ul>
			<h3>Действия с реестром</h3>
			<p>Запуск редактора реестра</p>
			<p>Пуск → Выполнить → ввести Regedit → ОК (Enter).  </p>
			<p>Копирование реестра</p>
			<ul>Копии реестра создаются автоматически в ОС в файлах System.Dat и User.Dat. Для принудительного создания копии реестра можно использовать следующие методы:
				<li>скопировать файлы реестра (System.DAТ и User.DАТ) в файлы с любым другим именем;</li>
				<li>экспортировать реестр в файл с расширением .REG, используя возможности редактора реестра.</li>
			</ul>

			<ul>Внимание! Перед началом редактирования реестра обязательно выполните следующие действия:
				<li>подготовьте копии реестра;</li>
				<li>убедитесь, что были исчерпаны все остальные средства, менее опасные, чем редактирование реестра.</li>
			</ul>
			<p><u>Некорректное или неумышленное изменение данных реестра ОС может привести к непоправимым последствиям и обеспечить пользователя обременительной работой по повторной инсталляции системы.</u> Чтобы этого избежать, необходимо перед проведением каких-либо манипуляций с реестром ОС всегда осуществлять его предварительную архивацию и резервное сохранение в надежном месте на жестком диске. Выполнение этого правила впоследствии обеспечит «откат» системного Реестра и вернет систему в рабочее состояние до момента критических изменений.</p>
			<h3><u>РЕКОМЕНДУЕТСЯ (при наличии установленной виртуальной ОС):</u></h3>
			<ul>Перед началом выполнения лабораторной работы в среде ОС Windows XP необходимо осуществить следующее:
			<li>Запустить виртуальную машину с ОС Windows XP и активировать справочное меню (Пуск | Справка и поддержка);</li> 
			<li>Ознакомиться с описанием Реестра и возможностями его применения в ОС Windows XP; </li>
			<li>Ознакомиться с описанием и возможностями служебного программного средства «Редактор Реестра» (Regedit), изучив справочный материал по данному приложению, находящийся в системном каталоге С:\Windows\Help\ в одноименном файле с расширением .chm; </li>
			<li>Воспользовавшись ключом /?, ознакомиться с описанием и возможностями консольной утилиты Reg.exe для работы с Реестром ОС, доступной из командной строки. </li>
			</ul>

			<h3>ХОД РАБОТЫ</h3>
			<p><b>1. Выполнить резервное копирование файлов системного реестра.</b></p>
			<p>I. Выполните один из образцов выполнения задания</p>
			<p>2. Откройте Редактор реестра</p>
			<p>3. Откройте следующий раздел HKEY_CURRENT_USER\Software\Microsoft\ Windows\Current Version\Run</p>
			<p>4. В правой части окна вызовите правой кнопкой мыши контекстное меню и выберите Создать->Строковый параметр </p>
			<center><%= image_tag("lab10-2.jpg") %></center>
			<p>5. Задайте имя для создаваемого параметра. </p>
			<center><%= image_tag("lab10-3.jpg") %></center>
			<p>6. Откройте вновь созданный параметр и задайте ему значение в виде пути к исполняемому файлу Paint - C:\WINDOWS\\System32\mspaint.exe </p>
			<p>7. Нажмите ОК и перезагрузите компьютер. Paint загрузится автоматически после загрузки операционной системы</p>
			<p><b>II. Выполните следующие задания:</b></p>
			<ul>8. Изучить функции редактора реестра Registry Editor:
				<li>создать новый ключ в разделе Hkey_Current_config, создать для него параметр строкового типа и задать его значение –"Мой"; какой параметр для вновь созданного ключа появляется по умолчанию?</li>
			</ul>
			<p>В отчете указать иерархию ключа, названия и значения созданного параметра и  параметра по умолчанию.</p>
			<li>удалить созданные ключ и параметр;</li>
			<li>найти первых два ключа с полным именем "Setup";</li>
			<p>В отчете указать иерархию ключа.</p>
			<li>проверить, имеет ли реестр ключ со значением любого его параметра 35;</li>
			<li>отразить результата поиска в отчете;</li>
			<li>проверить возможность экспортировать реестр в новый файл и импортировать его из ранее сохраненного файла; какое расширение имеют файлы импорта-экспорта реестра?</li>
			<p>9. Исследование раздела Hkey_Classes_Root.</p>
			<li>найти ссылку на подключ для файлов с расширением DOC. </li>
			<li>найти подключ, на который указывает эта ссылка.</li>
			<li>для найденного подключа определить следующие ключи настройки Word: вид графического значка (icon); командная строка для запуска исполняемого файла.</li>
			<li>отредактировать значения параметра «По умолчанию» для этих двух ключей таким образом, чтобы изменился графический значок Word , а также изменилось приложение, которое автоматически запускается при открытии файлов с расширением Doc. </li>
			<li>проверить выполненные установки, открыв любой файл Doc.</li>
			<p>В отчете указать иерархию двух ключей, название исследуемых параметров, их новое и старое значения.</p>
			<p>10. Исследование раздела Hkey_Local_Machine.</p>
			<li>найти подключи конфигурации оборудования. Сколько конфигураций имеет данный компьютер?</li>
			<p>В отчете указать иерархию ключа, название исследуемого параметра, его значения.</p>
			<p>11. Исследование раздела Hkey_Current_config. Копией какого ключа является данный раздел?</p>
			<li>найти ключ, отвечающий за настройки дисплея.</li>
			<li>ознакомиться со списком параметров этого ключа.</li>
			<li>изменить текущую разрешающую способность монитора на значение "640,480".</li>
			<li>для проверки выполнения перегрузить операционную систему (ОС).</li>
			<p>В отчете указать иерархию ключа, название исследуемого параметра, его новое и старое значения.</p>
			<p>12. Исследование раздела Hkey_Current_user. Копией какого ключа является данный раздел?</p>
			<li>найти ключ, отвечающий за настройки Рабочего стола;</li>
			<li>ознакомиться со списком вложенных ключей;</li>
			<li>для произвольно выбранных из списка 5 ключей исследовать, аналогом каких настроек Панели управления они являются.</li>
			<p>В отчете указать иерархию пяти ключей и соответствующие настройки Панели управления.</p>
			<li>изменить с помощью реестра ширину полосы прокрутки и строки командного меню в окнах Windows. Проверить выполненные настройки.</li>
			<p>В отчете указать иерархию ключа, название исследуемого параметра, его новое и старое значения.</p>
			<li>в подразделе установленного программного обеспечения для текущего пользователя найти ключ, хранящий полное имя файла справки Word.</li>
			<p>В отчете указать иерархию ключа.</p>
			<li>для приложения Excel найти ключ, хранящий информацию о последних 9 загруженных файлах XLS. Запомнить названия параметров и значение одного из них. </li>
			<p>Информацию о ключе, параметре и его значении отразить в отчете.</p>
			<p>13. Восстановить состояние системного реестра из резервных копий или из копий  ОС.</p>
			<h3>Задания для самостоятельной работы:</h3>
			<p>Подготовьтесь к ответам на вопросы:</p>
				<p>1. Из каких файлов состоит реестр? Где они расположены?</p>
				<p>2. Назначение реестра.</p>
				<p>3. Способы редактирования реестра.</p>
				<p>4. Структура реестра. </p>
				<p>5. Структура основного раздела Hkey_Clauses_Root.</p>
				<p>6. Основные разделы и их назначение.</p>
				<p>7. Параметры ключей. Типы параметров и их значения.</p>
				<p>8. Назовите ключи, имеющие псевдонимы.</p>
				<p>9. Способы восстановления реестра.</p>
			</ul>
		</tr>
	</td>
</table>


