<h1 align="center">Лабораторная работа №8</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<h3 align="center">Удаленный рабочий стол. Удаленный помощник</h3>
			<p><b>Цель:</b>  Ознакомиться с основными функциями удаленного рабочего стола и удаленным помощником. Научиться удаленно управлять каким-либо ПК.</p>
			<h3>Теоретическая часть</h3>
			<p>Функция «Удаленный рабочий стол» в Windows XP позволяет получить доступ к вашему рабочему столу с удаленного компьютера. Например, вы без проблем сможете попасть к своим программам, файлам, сетевым ресурсам с домашнего компьютера - так же как и с рабочего. Более того, можно даже оставить программы выполняющимися на рабочем компьютере, а дома продолжить работу с ними. Удобно это и при совместной работе, когда рабочий стол вашего компьютера отображается на экране компьютера коллеги, - это полезно, например, при отладке программы, обновлении презентации слайдов или корректуре документов. Данная возможность может потребоваться и в случае необходимости поддержки на одном компьютере одновременных сеансов нескольких пользователей с разными приложениями и параметрами (например, для продавцов или банковских служащих).</p>
			<p>По умолчанию функция «Удаленный рабочий стол» отключена </p>
			<p>Удаленный помощник - это встроенное в Windows средство для оказания удаленной помощи. Начиная с Windows XP все операционные системы Микрософт имеют эту функцию. Правда используется она довольно редко и во многом потому, что стандартный режим подключения не очень удобен: пользователь (у которого проблемы) должен отправить приглашение эксперту по электронной почте (специальный файл), либо через микрософтовский мессенджер. Правда существует более удобный вариант: когда эксперт сам инициирует подключение к компьютеру пользователя — удаленный помощник в режиме предложения помощи. О его настройке и пойдет речь. </p>
			<h3>Ход работы</h3>
			<p>Чтобы подключиться к удаленному рабочему столу, нужно настроить доступ. </p>
			<p>ПКМ Мой компьютер >> Свойства >> вкладка Удаленные сеансы >> галочка на Разрешить удаленный доступ к этому компьютеру</p>
			<center><%= image_tag("lab8-1.jpg") %></center>
			<p>Ок</p>
			<p>Подключаемся. Пуск >> Все программы >> Стандартные >> Подключение к удаленному рабочему столу. В окно вводим \\имя_компьютера >> Подключить</p>
			<center><%= image_tag("lab8-2.jpg") %></center>
			<p>Подключение удаленного помощника. </p>
			<p>ПКМ Мой компьютер >> Свойства >> вкладка Удаленные сеансы >> галочка на Разрешить отправку приглашения удаленному помощнику</p>
			<p>Теперь удаленный доступ будет не с вашего компьютера, а, наоборот, на ваш. </p>
			<h3>Задания для самостоятельной работы:</h3>
			<p>1. Удаленный помощник. Определение, назначение</p>
			<p>2. Удаленный рабочий стол. Определение, назначение </p>
			<p>3. Зайдите на соседний компьютер </p>
			<p>4. Зайдите с соседнего компьютера на свой </p>
			<p>5. Сделайте отчет о проделанной работе, включая вопросы для самостоятельной работы и все скриншоты. Отчет покажите преподавателю.</p>
		</tr>
	</td>
</table>