<h1 align="center">Многоуровневые драйвера</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<ul>
				<li>входит в состав ядра операционной системы, работая в привилегированном режиме;</li>
				<li>непосредственно управляет внешним устройством, взаимодействуя с его контроллером с помощью команд ввода - вывода компьютера;</li>
				<li>обрабатывает прерывания от контроллера устройства;</li>
				<li>предоставляет прикладному программисту удобный логический интерфейс работы с устройством, экранируя от него низкоуровневые детали управления устройством и организации его данных;</li>
				<li>взаимодействует с другими модулями ядра ОС с помощью строго оговоренного интерфейса, описывающего формат передаваемых данных, структуру буферов, способы включения драйвера в состав ОС, способы вызова драйвера, набор общих процедур подсистемы ввода - вывода, которыми драйвер может пользоваться, и т.п.</li>
			</ul>
			<p>Наряду с традиционными драйверами в операционных системах имеются так называемые высокоуровневые драйверы, которые располагаются в общей модели ввода - вывода над традиционными драйверами, которые еще называются аппаратными, низкоуровневыми драйверами или драйверами устройств. Применение высокоуровневых драйверов повышает гибкость и расширяемость функций по управлению устройством – вместо жесткого набора функций, сосредоточенных в единственном драйвере, администратор системы может выбрать требуемый набор функций, установив нужный высокоуровневый драйвер.</p>
			<p>Высокоуровневые драйверы оформляются по тем же правилам и придерживаются тех же внутренних интерфейсов, что и низкоуровневые драйверы. Единственным отличием является то, что высокоуровневые драйверы, как правило, не вызываются по прерываниям, так как взаимодействуют с управляемым устройством через посредничество аппаратных драйверов. Менеджер ввода - вывода управляет всеми драйверами однотипно, независимо от их уровня.</p>
			<p>Например, в подсистеме управления дисками аппаратные драйверы поддерживают для верхних уровней представление диска как последовательного набора блоков одинакового размера, преобразуя вместе с контроллером номер блока в более сложный адрес, состоящий из номеров цилиндра, головки и сектора. Однако понятие «файл» и «файловая система» аппаратные драйверы не поддерживают. Эти логические абстракции создаются на более высоком уровне программным обеспечением файловых систем, которое в современных ОС оформляется как высокоуровневый драйвер.</p>
			<p>В унификацию драйверов большой вклад внесла операционная система UNIX. В ней все драйверы были разделены на два больших класса: блок – ориентированные (block - oriented) драйверы и байт - ориентированные (character - oriented) драйверы. Блок - ориентированные драйверы управляют устройствами прямого доступа, которые хранят информацию в блоках фиксированного размера, каждый из которых имеет свой собственный адрес. Самое распространенное внешнее устройство прямого доступа – диск.</p>
			<p>Устройства, с которыми работают байт - ориентированные драйверы, не адресуемы и не позволяют производить операцию поиска данных, они генерируют или потребляют последовательности байт. Примерами таких устройств служат терминалы, сетевые адаптеры.</p>
			<p>Блок - и байт - ориентированность является характеристикой как самого устройства, так и драйвера. Для байт - ориентированного устройства невозможно разработать блок - ориентированный драйвер. Однако блок -ориентированным устройством можно управлять с помощью байт -ориентированного драйвера.</p>
			<p>Деление драйверов на блок - и байт - ориентированные оказывается полезным для структурирования подсистемы управления вводом - выводом. Тем не менее необходимо учитывать, что эта схема является упрощенной – имеются внешние устройства, драйверы которых не относятся ни к одному классу. В качестве примера можно привести таймер, который, с одной стороны, не содержит адресуемой информации, а с другой стороны, не порождает потока байт.</p>
		</tr>
	</td>
</table>