<h1 align="center">Сетевые операционные системы</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<p>Компьютеры под управлением практически всех современных ОС могут работать в составе локальных, корпоративных и/или глобальных сетей (начиная с 1990-х годов).</p>
			<p>Компьютерная сеть – это набор компьютеров, связанных коммуникационной системой и снабженных соответствующим программным обеспечением, предоставляющим возможность пользователям получать доступ к удаленным ресурсам компьютеров этой сети. Сеть могут образовывать компьютеры разных типов и под управлением разных ОС.</p>
			<p>Коммутационная система может включать кабели, повторители, коммутаторы, маршрутизаторы и другие устройства, обеспечивающие передачу сообщений по сети.</p>
			<p>Различают сетевые и распределенные ОС.</p>
			<p>Сетевая ОС предоставляет пользователю возможность доступа к удаленным ресурсам других компьютеров: файлам, принтерам и т.д. В Windows такой сервис называется «Служба доступа к файлам и принтерам сети Microsoft». Пользователь также может выполнить свое приложение на другой машине, но для этого ему необходимо ввести специальную команду удаленного выполнения.</p>
			<p>Распределенная ОС предоставляет пользователю сетевые ресурсы в виде ресурсов единой централизованной виртуальной машины. Распределенная ОС автоматически и динамически распределяет работы по различным машинам системы, и пользователь даже не знает на какой машине выполняется его работа. Распределенная ОС существует как единая ОС в масштабах компьютерной сети.</p>
			<p><b>Функциональные компоненты сетевой ОС</b></p>
			<p>Любая сетевая операционная система не только выполняет все функции локальной ОС, но и обладает дополнительными средствами, позволяющими ей взаимодействовать по сети с операционными системами других компьютеров.</p>
			<ul><b>Функциональные компоненты сетевой ОС можно разделить на две части:</b>
				<li>средства управления локальными ресурсами компьютера, которые реализуют все функции ОС автономного компьютера;</li>
				<li>Сетевые средства ОС.</li>
			</ul>

			<ul>Сетевых средства в свою очередь содержат три компонента:
				<li>серверная часть ОС – средства предоставления локальных ресурсов и услуг в общее или раздельное (shared) пользование;</li>
				<li>клиентская часть ОС – средства запроса доступа к удаленным ресурсам и услугам;</li>
				<li>транспортные средства ОС, которые совместно с коммуникационной системой обеспечивают передачу сообщений по сети.</li>
			</ul>
			<p>Доступ к удаленным ресурсам в сетевой ОС происходит следующим образом. Предположим, что пользователь компьютера А решил сохранить свой файл на диске компьютера В. Для этого он формирует соответствующую команду. Операционная система принимает эту команду и передает её клиентской части. Клиентская часть формирует запрос к компьютеру В на размещение своих данных. Этот запрос обрабатывается транспортными средствами ОС, которые формируют сообщение в соответствии с действующим коммуникационным протоколом (Ethernet, Token Ring, IP, IPX и др.). Сформированное сообщение передается по коммуникационной системе сети от компьютера А к компьютеру В и обрабатывается его транспортными средствами. Далее запрос передается серверной части компьютера В, которая обращается к локальному диску и записывает полученные данные в файл.</p>
			<p>Совокупность серверной и клиентской частей ОС, предоставляющих доступ к конкретному типу ресурса компьютера через сеть, называется сетевой службой. Сетевые службы предоставляют пользователям набор услуг, которые называют также сетевым сервисом.</p>
			<center><%= image_tag("lesson12-1.jpg") %></center>
			<p>Сетевые службы по своей природе являются клиент-серверными системами. Сервером называют программный компонент-поставщик какого-либо сервиса. Клиентом называют программный компонент-потребитель какого-либо сервиса. Один и тот же программный компонент может быть клиентом по отношению к одному виду услуг, и сервером для другого вида услуг. Инициатором обмена информацией всегда выступает клиент, а сервер находится в режиме пассивного ожидания запросов.</p>
			<p>Взаимодействие между клиентами и серверами стандартизировано, так что сервер может обслуживать клиентов, реализованных различными способами и различными производителями.</p>
			<h4>Варианты построения сетевых ОС</h4>
			<p>Существует несколько подходов к построению сетевых ОС.</p>
			<p>Сетевые службы представлены в виде оболочки ОС. При таком подходе сетевая ОС представляет собой совокупность локальной ОС и надстроенной над ней сетевой оболочки. При этом в локальную ОС встраивается минимум сетевых функций, необходимых для работы сетевой оболочки, которая выполняет основные сетевые функции. В качестве примера можно указать продукты фирмы Microsoft: LAN Server и LAN Manager.</p>
			<p>Сетевые службы глубоко встроены в ОС. Более эффективен подход, при котором сетевая ОС с самого начала проектируется для работы в сети. Сетевые функции у этих ОС глубоко встроены в основные модули системы, что обеспечивает их логическую стройность, простоту эксплуатации и модификации, а также высокую производительность. Важно, что при таком подходе отсутствует избыточность. Если все сетевые функции хорошо интегрированы, то все внутренние механизмы такой ОС могут быть оптимизированы для выполнения сетевых функций. Например, ОС Windows NT от Microsoft за счет встроенности сетевых средств обеспечивает более высокие показатели производительности и защищенности информации по сравнению с сетевой ОС LAN Manager Той же фирмы (совместная разработка с IBM), являющейся надстройкой над локальной операционной системой OS/2.</p>
			<p>В настоящее время сетевые функции встраиваются в ядро ОС, являясь ее неотъемлемой частью. Операционные системы получили средства для работы со всеми основными технологиями локальных (Ethernet, Fast Ethernet, Gigabit Ethernet, Token Ring, FDDI, ATM) и глобальных (Х.25, frame relay, ISDN, ATM) сетей, а также средства для создания составных сетей (IP, IPX, AppleTalk, RIP, OSPF, NLSP).</p>
			<p>Сетевые службы поставляются в виде отдельных продуктов, которые, как правило, дополняют возможности сетевых ОС. Например, сервер удаленного управления WinFrame (компания Citrix) дополняет возможности сервера удаленного доступа Windows NT.</p>
		</tr>
	</td>
</table>

