<h1 align="center">Файловые операции</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<p>Файловые операции подразделяются в зависимости от области применения и размещение результата на списковые операции и операции по дереву каталогов и файлов. Дополнительно, в число файловых операций включен запуск внешнего процесса (внешнего приложения или exe-файла). Кроме этого по кнопке [Системный файловый диалог] вызывается диалоговое окно Windows, в котором можно переименовать, удалить, а также записать файл в директорию через обменный буфер. </p>
			<p>Списковые операции образуют три группы: операции с одним списком, операции с двумя списками и операции без списка. Область применения и размещение результата операции определяются заданием входных и выходных параметров, описанных в параметрах ввода / вывода для файловых операций. Перед выполнением оперций, работающих со списками, эти списки должны быть созданы (см. меню "Создание списков"). Каждый вид операций требует задания определенных параметров, доступ к которым открывается при выборе в начале работы соответствующего типа операции (с одним списком, с двумя списками, без списка). </p>
			<ul><b>Операции с одним списком: </b>
				<li>Переписать -  перепись заданных в списке файлов или каталогов в выходной каталог;  </li>
				<li>Переместить -  перемещение заданных в списке файлов или каталогов в выходной каталог;  </li>
				<li>Удалить -  удаление заданных в списке файлов или каталогов;</li>
				<li>Объединить -  объединение заданных в списке файлов в единый файл, помещаемый в выходной каталог под именем, запрашиваемым при выполнении операции;  </li>
				<li>Разделить -  разделение заданных в списке файлов по заданным критериям (порции в байтах, порции в строках, разделительной строке-шаблону);  </li>
				<li>Изменить расширение -  замена расширения у всех файлов списка.  </li>

			</ul>

			<ul><b>Операции с двумя списками: </b>
				<li>Переписать -  файлы или каталоги левого списка копируются в файлы или каталоги правого списка;  </li>
				<li>Переименовать -  файлы или каталоги левого списка переименовываются в файлы или каталоги правого списка.  </li>
			</ul>
			<h4>Операции без списков: </h4>
			<ul><b>1.Операции с файлами</b>
				<li>Переименовать -  переименование входного файла;  </li>
				<li>Создать -  создание файла в заданном каталоге;  </li>
				<li>Удалить -  удаление входного файла из каталога;  
				</li>Дублировать -  дублирование входного файла.  </li>
			</ul>

			<ul><b>2.Операции с каталогами</b>
				<li>Переименовать -  переименование входного каталога;  </li>
				<li>Создать -  создание подкаталога во входном каталоге;  </li>
				<li>Удалить -  удаление входного каталога вместе с подкаталогами; </li>
				<li>Очистить -  чистка входного каталога в соответствии с заданными шаблонами (см. параметры вывода для файловых операций).  </li>
				<li>Текущая страница также может являться макросом сценария, описывающего сеанс редактирования (за исключением операций по дереву).</li>
			</ul>
		</tr>
	</td>
</table>