<h1 align="center">Динамическая загрузка и выгрузка драйверов</h1>
<table align="center" width="85%" border="0" bgcolor="#2F4F4F">
	<tr>
		<td>
			<p>Включение драйвера в состав модулей работающей ОС представляет собой самостоятельную проблему.</p>
			<p>Так как набор потенциально поддерживаемых данной ОС периферийных устройств всегда шире конкретной системе, то очень ценным свойством ОС является возможность динамически загружать в ОП требуемый драйвер (без останова ОС) и выгружать его после того, как потребность в поддержке устройства миновала. Это может существенно экономить системную область памяти.</p>
			<p>Альтернативой динамической загрузке драйверов при изменениях текущей конфигурации внешних устройств является повторная компиляция кода ядра с требуемым набором драйверов, что создает между всеми компонентами ядра статические связи вместо динамических. Изменения в процессе работы ОС невозможны.</p><br>

			<b>Многоуровневые драйверы.</b>
			<ul><b>Традиционные особенности и функции, выполняемые драйвером состоят в следующем:</b>
				<li>входит в состав ядра ОС, работая в привилегированном режиме;</li>
				<li>непосредственно управляет внешним устройством, взаимодействуя с его контроллером с помощью команд ввода – вывода компьютера;</li>
				<li>обрабатывает прерывания от контроллера;</li>
				<li>предоставляет программисту удобный логический интерфейс, экранируя от ненужных деталей и подробностей;</li>
				<li>взаимодействует с другими модулями</li>
			</ul>

			<p>Традиционные драйверы не делились на слои. С развитием ОС наряду с традиционными появились высокоуровневые драйверы, которые располагаются над традиционными драйверами. При этом традиционные драйверы стали называть аппаратными. С помощью высокоуровневого драйвера повышается гибкость и расширяемость функций по управлению устройством – вместо жесткого набора функций, которые сосредоточены в низкоуровневом драйвере, администратор ОС может выбрать требуемый набор функций, установив нужный высокоуровневый драйвер.</p>

			<p>Если различным приложениям необходимо работать с различными логическими модулями одного и того же физического устройства, то для этого достаточно установить в системе несколько драйверов на одном уровне, работающих над одним аппаратным драйвером.</p>

			<p>Количество уровней драйверов обычно не ограничивается. На практике используется от 2 до 5 уровней.</p>

			<p>Высокоуровневые драйверы оформляются по тем же правилам и придерживаются тех де внутренних интерфейсов, что и аппаратные драйверы за исключением того, что они не вызываются по прерываниям, так как взаимодействуют</p>

			<p>Как общие принципы построения многоуровневых драйверов могут быть реализованы применительно к конкретным устройствам можно рассмотреть на примере управления дисками. </p>

			<p>Аппаратные драйверы поддерживают для верхних уровней представление диска как последовательного набора блоков одинакового размера, преобразуя вместе с контроллером номер блока в более сложный адрес из номера цилиндра, головки и сектора. Понятие «файла» и файловой системы аппаратные драйверы не поддерживают.</p>
			<p>Эти абстракции создаются на более высоком уровне. Они могут поддерживать несколько файловых систем одновременно. Для этого в ОС устанавливается несколько высокоуровневых драйверов (UFS, NTFS, FAT). Они работают с общими аппаратными драйверами, но по-своему организуют файловую систему пользователям и прикладными процессам.</p>
			<p>Для унификации представления различных файловых систем может использоваться общий драйвер верхнего уровня VFS (Virtual File System). Такой драйвер используется, например, в системах UNIX.</p>
			<p>В унификацию драйверов большой вклад внесла ОС UNIX. В ней все драйверы разделены на 2 больших класса; блок – ориентированные и байт – ориентированные.</p>
			<p>Например, драйвера графических и сетевых устройств относятся к байт – ориентированным, а драйверы, управляющие устройствами прямого доступа, которые хранят информацию в блоках фиксированного размера, - к блок – ориентированным (диск).</p>
			<p>Адресуемость блоков приводят к тому, что для устройств прямого доступа имеется возможность кэширования данных в оперативной памяти. Это влияет на общую организацию ввода – вывода таких устройств.</p>

