<h1 align="center">Лабораторные работы</h1>
<body link="brown" alink="yellow" vlink="orange">
<H3>Выбирете лабораторную работу:</H3>
<a href="/laboratory_work/lab1">Лабораторная работа №1</a> (Установка и настройка виртуальной машины)<br>
<a href="/laboratory_work/lab2">Лабораторная работа №2</a> (Установка операционной системы на виртуальную машину)<br>
<a href="/laboratory_work/lab3">Лабораторная работа №3</a> (Учетные записи пользователей и группы)<br>
<a href="/laboratory_work/lab4">Лабораторная работа №4</a> (Профили пользователей)<br>
<a href="/laboratory_work/lab5">Лабораторная работа №5</a> (Работа с командной строкой)<br>
<a href="/laboratory_work/lab6">Лабораторная работа №6</a> (Создание командных файлов)<br>
<a href="/laboratory_work/lab7">Лабораторная работа №7</a> (Работа с дисковыми ресурсами)<br>
<a href="/laboratory_work/lab8">Лабораторная работа №8</a> (Удаленный рабочий стол. Удаленный помощник)<br>
<a href="/laboratory_work/lab9">Лабораторная работа №9</a> (Управление разделением ресурсов в локальной сети)<br>
<a href="/laboratory_work/lab10">Лабораторная работа №10</a> (Работа с реестром)<br>
<a href="/laboratory_work/lab11">Лабораторная работа №11</a> (Мониторинг и оптимизация системы)<br>
<a href="/laboratory_work/lab12">Лабораторная работа №12</a> (Работа с подсистемой безопасности)<br>
</body>

